
<body>
  <!-- NavBar -->
      <app-navbar-component></app-navbar-component>

  <!-- Section -->
  <div class="App_withSidebar">
      <!-- Sidebar -->
      <app-slide-bar></app-slide-bar>
      <!-- APP CONTENT -->
      <div class="App_withSidebarContent">
          <section class="Section_content">
              <!-- Header -->
              <app-info-student></app-info-student>
              <!-- Main content -->
              <app-studentss-test></app-studentss-test>
          </section>
      </div>
  </div>
  <div class="Footer_wrapper">
      <p>Copyright © Team 09 Đồ án LTUDM</p>
  </div>
</body>
