
<div class="Home_wrapper-student">
  <!-- Bai thi sap dien ra -->
  <div class="SectionList_wrapper">
      <div class="SectionList_headingWrap">
          <h2 class="SectionList_heading">Bài thi sắp diễn ra</h2>
          <a href="../ExamPage/Exam.html">Xem tất cả <span class="material-icons icon_seeAll">
                  chevron_right </span></a>
      </div>
      <div id="scrollHorizontally" class="SectionList_bodyWrap">
          <div class="SectionList_body">
              <!-- Exam Active -->
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label red">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                          <div>
                              <a class="material-icons icon_timer"> alarm </a>
                              <label class="font_weight-bold">180&nbsp;phút</label>
                          </div>
                      </div>
                      <div class="item_bottom greenBottom">
                          <button>Bắt đầu thi</button>
                      </div>
                  </div>
              </section>

              <!-- Exam disabled -->
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label red">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                          <div>
                              <a class="material-icons icon_timer"> alarm </a>
                              <label class="font_weight-bold">180&nbsp;phút</label>
                          </div>
                      </div>
                      <div class="item_bottom greenBottom">
                          <button>Bắt đầu thi</button>
                      </div>
                      <div class="disable_countdown">
                          <div class="Bg_countdown-white">
                              <div class="Timer_wrapper">
                                  <div class="Timer count_days">
                                      <h1>05</h1>
                                      <label>Days</label>
                                  </div>
                                  <div class="Timer count_hours">
                                      <h1>11</h1>
                                      <label>Hours</label>
                                  </div>
                                  <div class="Timer count_minutes">
                                      <h1>56</h1>
                                      <label>Minutes</label>
                                  </div>
                                  <div class="Timer count_seconds">
                                      <h1>20</h1>
                                      <label>Seconds</label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label red">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                          <div>
                              <a class="material-icons icon_timer"> alarm </a>
                              <label class="font_weight-bold">180&nbsp;phút</label>
                          </div>
                      </div>
                      <div class="item_bottom greenBottom">
                          <button>Bắt đầu thi</button>
                      </div>
                      <div class="disable_countdown">
                          <div class="Bg_countdown-white">
                              <div class="Timer_wrapper">
                                  <div class="Timer count_days">
                                      <h1>05</h1>
                                      <label>Days</label>
                                  </div>
                                  <div class="Timer count_hours">
                                      <h1>11</h1>
                                      <label>Hours</label>
                                  </div>
                                  <div class="Timer count_minutes">
                                      <h1>56</h1>
                                      <label>Minutes</label>
                                  </div>
                                  <div class="Timer count_seconds">
                                      <h1>20</h1>
                                      <label>Seconds</label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label red">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                          <div>
                              <a class="material-icons icon_timer"> alarm </a>
                              <label class="font_weight-bold">180&nbsp;phút</label>
                          </div>
                      </div>
                      <div class="item_bottom greenBottom">
                          <button>Bắt đầu thi</button>
                      </div>
                      <div class="disable_countdown">
                          <div class="Bg_countdown-white">
                              <div class="Timer_wrapper">
                                  <div class="Timer count_days">
                                      <h1>05</h1>
                                      <label>Days</label>
                                  </div>
                                  <div class="Timer count_hours">
                                      <h1>11</h1>
                                      <label>Hours</label>
                                  </div>
                                  <div class="Timer count_minutes">
                                      <h1>56</h1>
                                      <label>Minutes</label>
                                  </div>
                                  <div class="Timer count_seconds">
                                      <h1>20</h1>
                                      <label>Seconds</label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label red">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                          <div>
                              <a class="material-icons icon_timer"> alarm </a>
                              <label class="font_weight-bold">180&nbsp;phút</label>
                          </div>
                      </div>
                      <div class="item_bottom greenBottom">
                          <button>Bắt đầu thi</button>
                      </div>
                      <div class="disable_countdown">
                          <div class="Bg_countdown-white">
                              <div class="Timer_wrapper">
                                  <div class="Timer count_days">
                                      <h1>05</h1>
                                      <label>Days</label>
                                  </div>
                                  <div class="Timer count_hours">
                                      <h1>11</h1>
                                      <label>Hours</label>
                                  </div>
                                  <div class="Timer count_minutes">
                                      <h1>56</h1>
                                      <label>Minutes</label>
                                  </div>
                                  <div class="Timer count_seconds">
                                      <h1>20</h1>
                                      <label>Seconds</label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label red">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                          <div>
                              <a class="material-icons icon_timer"> alarm </a>
                              <label class="font_weight-bold">180&nbsp;phút</label>
                          </div>
                      </div>
                      <div class="item_bottom greenBottom">
                          <button>Bắt đầu thi</button>
                      </div>
                      <div class="disable_countdown">
                          <div class="Bg_countdown-white">
                              <div class="Timer_wrapper">
                                  <div class="Timer count_days">
                                      <h1>05</h1>
                                      <label>Days</label>
                                  </div>
                                  <div class="Timer count_hours">
                                      <h1>11</h1>
                                      <label>Hours</label>
                                  </div>
                                  <div class="Timer count_minutes">
                                      <h1>56</h1>
                                      <label>Minutes</label>
                                  </div>
                                  <div class="Timer count_seconds">
                                      <h1>20</h1>
                                      <label>Seconds</label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label red">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                          <div>
                              <a class="material-icons icon_timer"> alarm </a>
                              <label class="font_weight-bold">180&nbsp;phút</label>
                          </div>
                      </div>
                      <div class="item_bottom greenBottom">
                          <button>Bắt đầu thi</button>
                      </div>
                      <div class="disable_countdown">
                          <div class="Bg_countdown-white">
                              <div class="Timer_wrapper">
                                  <div class="Timer count_days">
                                      <h1>05</h1>
                                      <label>Days</label>
                                  </div>
                                  <div class="Timer count_hours">
                                      <h1>11</h1>
                                      <label>Hours</label>
                                  </div>
                                  <div class="Timer count_minutes">
                                      <h1>56</h1>
                                      <label>Minutes</label>
                                  </div>
                                  <div class="Timer count_seconds">
                                      <h1>20</h1>
                                      <label>Seconds</label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label red">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                          <div>
                              <a class="material-icons icon_timer"> alarm </a>
                              <label class="font_weight-bold">180&nbsp;phút</label>
                          </div>
                      </div>
                      <div class="item_bottom greenBottom">
                          <button>Bắt đầu thi</button>
                      </div>
                      <div class="disable_countdown">
                          <div class="Bg_countdown-white">
                              <div class="Timer_wrapper">
                                  <div class="Timer count_days">
                                      <h1>05</h1>
                                      <label>Days</label>
                                  </div>
                                  <div class="Timer count_hours">
                                      <h1>11</h1>
                                      <label>Hours</label>
                                  </div>
                                  <div class="Timer count_minutes">
                                      <h1>56</h1>
                                      <label>Minutes</label>
                                  </div>
                                  <div class="Timer count_seconds">
                                      <h1>20</h1>
                                      <label>Seconds</label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label red">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                          <div>
                              <a class="material-icons icon_timer"> alarm </a>
                              <label class="font_weight-bold">180&nbsp;phút</label>
                          </div>
                      </div>
                      <div class="item_bottom greenBottom">
                          <button>Bắt đầu thi</button>
                      </div>
                      <div class="disable_countdown">
                          <div class="Bg_countdown-white">
                              <div class="Timer_wrapper">
                                  <div class="Timer count_days">
                                      <h1>05</h1>
                                      <label>Days</label>
                                  </div>
                                  <div class="Timer count_hours">
                                      <h1>11</h1>
                                      <label>Hours</label>
                                  </div>
                                  <div class="Timer count_minutes">
                                      <h1>56</h1>
                                      <label>Minutes</label>
                                  </div>
                                  <div class="Timer count_seconds">
                                      <h1>20</h1>
                                      <label>Seconds</label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
          </div>
          <!-- <button id="scrollButton_enable" class="horizontalScroll_button">
              <div class="white_cirle">
                  <span class="material-icons"> arrow_forward_ios </span>
              </div>
          </button> -->
      </div>
  </div>

  <!-- Bai da thi -->
  <div class="SectionList_wrapper">
      <div class="SectionList_headingWrap">
          <h2 class="SectionList_heading">Bài đã thi</h2>
          <a href="../GradePage/Grade.html">Xem tất cả <span class="material-icons icon_seeAll">
                  chevron_right </span></a>
      </div>
      <div id="hoover_scrollButton2" class="SectionList_bodyWrap">
          <div class="SectionList_body">
              <!-- Grade -->
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label orange">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation itemGrade">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                      </div>
                      <div class="item_bottom orangeBottom">
                          <h1>17/20&ensp;-&ensp;(85.00%)</h1>
                      </div>
                  </div>
              </section>
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label orange">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation itemGrade">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                      </div>
                      <div class="item_bottom orangeBottom">
                          <h1>17/20&ensp;-&ensp;(85.00%)</h1>
                      </div>
                  </div>
              </section>
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label orange">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation itemGrade">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                      </div>
                      <div class="item_bottom orangeBottom">
                          <h1>17/20&ensp;-&ensp;(85.00%)</h1>
                      </div>
                  </div>
              </section>
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label orange">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation itemGrade">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                      </div>
                      <div class="item_bottom orangeBottom">
                          <h1>17/20&ensp;-&ensp;(85.00%)</h1>
                      </div>
                  </div>
              </section>
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label orange">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation itemGrade">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                      </div>
                      <div class="item_bottom orangeBottom">
                          <h1>17/20&ensp;-&ensp;(85.00%)</h1>
                      </div>
                  </div>
              </section>
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label orange">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation itemGrade">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                      </div>
                      <div class="item_bottom orangeBottom">
                          <h1>17/20&ensp;-&ensp;(85.00%)</h1>
                      </div>
                  </div>
              </section>
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label orange">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation itemGrade">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                      </div>
                      <div class="item_bottom orangeBottom">
                          <h1>17/20&ensp;-&ensp;(85.00%)</h1>
                      </div>
                  </div>
              </section>
              <section class="Home_examItem">
                  <div class="examItem_wrapper">
                      <div class="item_label orange">
                          <label>Mã bài thi:&ensp;<span>654321</span></label>
                          <h1>Bài TH3 môn LTUDM - 63IT2</h1>
                      </div>
                      <div class="item_infomation itemGrade">
                          <div>
                              <a class="material-icons icon_teacher"> account_box </a>
                              <p>Giảng viên:<span>Lê Đức Quang</span></p>
                          </div>
                      </div>
                      <div class="item_bottom orangeBottom">
                          <h1>17/20&ensp;-&ensp;(85.00%)</h1>
                      </div>
                  </div>
              </section>
          </div>
          <!-- <div id="scrollButton_enable2" class="horizontalScroll_button">
              <div class="white_cirle">
                  <span class="material-icons"> arrow_forward_ios </span>
              </div>
          </div> -->
      </div>
  </div>
</div>
