@import '~material-icons/iconfont/material-icons.css';
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* CONTENT */
.App_withSidebarContent {
    flex-grow: 1;
    flex-shrink: 1;
}
.Section_content {
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track:hover{
    background-color:rgba(0,0,0,.05);
    box-shadow:inset 1px 0 0 rgba(0,0,0,.1)
}
::-webkit-scrollbar-thumb{
    border: 1px;
    background:rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 5px rgba(255,255,255,.1);
}
::-webkit-scrollbar-thumb:window-inactive{
    background: #fff;
    border: 1px;
}

/* Body-student */
.Home_wrapper-exam {
    position: absolute;
    left: 110px;
    top: 95px;
}
.SectionList_wrapper {
    width: 1775px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.SectionList_headingWrap {
    margin-bottom: 26px;
}
.SectionList_heading {
    margin-left: 24px;

    font-weight: bold;
    font-size: 24px;
}

.SectionList_bodyWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.Exam_examItem {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 0px 0px 40px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 18px;

    width: 1775px;
    height: 99px;
    margin-bottom: 32px;
}
.green_retangle {
    width: 5px;
    height: 98px;
    background: #11998E;
}
.examItem_wrapper {
    width: 1770px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item_label-red {
    height: 57px;
    width: 1020px;
    margin-left: 18px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.item_label-red label {
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}
.item_label-red span {
    font-weight: bold;
    font-size: 18px;
    color: #DF2E2E;
}
.item_label-red h1 {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.item_infomation {
    width: 486px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item_infomation div {
    margin-right: 47px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.item_infomation label {
    font-weight: bold;
    font-size: 14px;
    color: #000000;

    margin-top: 4px;
    margin-left: 8px;
}
.item_infomation p {
    font-weight: normal;
    font-size: 14px;
    color: #000000;

    margin-top: 3.4px;
    margin-left: 8px;
}
.item_infomation span {
    font-weight: bold;
    font-size: 14px;
    color: #000000;

    margin-top: 4px;
    margin-left: 8px;
}
a.icon_teacher {
    color: #65D6CE;
}
a.icon_timer {
    color: #FA9579;
}

.examItem_wrapper button {
    background: #1AAD8A;
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;

    margin-right: 75px;
    width: 156px;
    height: 39px;
}

.disable_countdown {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 40px 0px;

    width: 1775px;
    height: 99px;

    position: absolute;
    z-index: 4;

    display: flex;
    align-items: center;
    justify-content: center;
}
.Bg_countdown-white {
    background: #FFFFFF;
    border-radius: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    width: 320px;
    height: 70px;
}
.Timer_wrapper {
    height: 70px;
    margin-left: 27px;
    margin-right: 27px;

    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
.Timer_wrapper h1 {
    font-weight: normal;
    font-size: 24px;
}
.Timer_wrapper label {
    font-weight: 500;
    font-size: 12px;
}
.Timer {
    color: #000000;
    width: 66.5px;
    margin-top: 9px;
    margin-bottom: 9px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}








/* Footer */
.Footer_wrapper {
    background:white;
    border: 1px solid #E5E5E5;

    position: fixed;
    z-index: 99;
    width: 1920px;
    height: 31px;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.Footer_wrapper p {
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    text-align: right;
    color: #c4c4c4;

    margin-right: 28px;
}

/* RESPONSIVE SCALE SCREENS */
@media only screen and (width: 1280px) {
    body {
        zoom: 0.67;
    }
}
@media only screen and (width: 1536px) {
    body {
        zoom: 0.8;
    }
}
