<div class="NavBar_wrapper">
       <!-- NavBar_logo -->
        <div class="NavBar_logo">
          <a href="./Home.html">
              <img src="../../assets/LogoHeading.png">
          </a>
          <h4 class="NavBar_logoHeading">Hệ thống thi trực tuyến</h4>
      </div>
      <!-- Navbar_body -->
      <div class="NavBar_body">
          <div>
              <div class="Search_wrapper">
                  <span class="material-icons icon-search"> search </span>
                  <input class="Search_input" spellcheck="false" placeholder="Tìm kiếm bài thi">
              </div>
          </div>
      </div>
      <!-- NavBar_actions -->
      <div class="NavBar_actions">
          <button>Đăng xuất</button>
          <span class="material-icons account_circle"> account_circle </span>
      </div>
      </div>
