<div class="Home_header-student">
  <div class="Header_wrapper">
      <img class="BackgroundImg-student" src="../../../assets/BackgroundImg.png" />
      <div class="White_broad-student">
          <img src="../../../assets/LogoHUCE.png" />
          <div class="Header_information-student">
              <div class="information-student">
                  <h1>Hệ thống thi trực tuyến - QUIZ</h1>
                  <h3>Trường Đại học Xây dựng Hà Nội</h3>
              </div>
              <p>Welcome, {{s.fullname}} - {{s.studentCode}}</p>
          </div>
      </div>
  </div>
</div>
