@import '~material-icons/iconfont/material-icons.css';
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* NavBar */
.NavBar_wrapper {
    background:white;
    border: 1px solid #E5E5E5;

    position: fixed;
    z-index: 99;
    width: 1920px;
    height: 66px;
    left: 0px;
    top: 0px;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
}
/* NavBar_logo*/
.NavBar_logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 600px;

    margin-left: 28px;
}
.NavBar_logo a {
    width: 40px;
    height: 40px;
}
.NavBar_logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.NavBar_logoHeading {
    font-weight: bold;
    font-size: 24px;

    margin-left: 26px;
}
/* NavBar_body */
.NavBar_body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 600px;
}
.Search_wrapper {
    border: 1px solid #dce0e3;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 16px;
}
.Search_wrapper input {
    font-size: 14px;

    outline: none;
    border: none;
    padding: 0 10px;

    width: 352px;
    height: 38px;
    padding-left: 10px;
    padding-right: 10px;
}
span.icon-search {
    color: #999999;
}
/* NavBar_actions */
.NavBar_actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 600px;

    margin-right: 28px;
}
.NavBar_actions button {
    font-weight: 600;
    font-size: 18px;
    color: white;

    background: #1AAD8A;
    border: none;

    width: 132px;
    height: 39px;
    padding: auto;
}
span.account_circle {
    color: #1AAD8A;
    font-size: 48px;

    margin-left: 57px;
}


/* Section App */
.App_withSidebar {
    min-height: 100vh;

    display: flex;
}
/* Sidebar */
.App_sidebarWrap {
    flex-shrink: 0;
}
.Sidebar_wrapper {
    position: fixed;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 75px;
}
.Sidebar_list {
    font-weight: 600;
    font-size: 12px;

    display: block;
}
.Sidebar_list li {
    list-style-type: none;
    border-radius: 16px;

    width: 72px;
    height: 72px;
    padding: auto;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.2s ease;
}
.Sidebar_list li:hover {
    opacity: 1;
    background:rgba(239, 239, 239, 0.65);
}
/* Choosed */
li.active {
    opacity: 1;
    background: #F0F0F0;
}
.Sidebar_list a {
    text-decoration: none;

    margin-bottom: 4.5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
span.icon_home {
    color: #11998E;
}
span.icon_exam {
    color: #11998E;
}
span.icon_grade {
    color: #FF7600;
}
span.icon_me {
    color: #4B3869;
}
.Sidebar_menu {
    font-weight: 600;
    font-size: 12px;
    text-align: center;

    margin-top: 4.5px;
}
.home,
.exam {
    color: #11998E;
}
.grade {
    color: #FF7600;
}
.me{
    color: #4B3869;
}

/* CONTENT */
.App_withSidebarContent {
    flex-grow: 1;
    flex-shrink: 1;
}
.Section_content {
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track:hover{
    background-color:rgba(0,0,0,.05);
    box-shadow:inset 1px 0 0 rgba(0,0,0,.1)
}
::-webkit-scrollbar-thumb{
    border: 1px;
    background:rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 5px rgba(255,255,255,.1);
}
::-webkit-scrollbar-thumb:window-inactive{
    background: #fff;
    border: 1px;
}
